# https://dart.dev/guides/libraries/private-files
# Created by `dart pub`
.flutter-plugins-dependencies
.dart_tool/
.dart-tool/
.dartServer/
.Xauthority
.bash_history
.cache/
.config/
.inputrc
.local/
.zcompdump
.zshrc
.idea
/build/
/d4rt_formulas.iml
.aider*
.build-container-cache
